@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>LOSLLAMO</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Bienvenido a LOSLLAMO</h2>
        <p>
            LOSLLAMO es una empresa dedicada al telemercadeo
            que espera que tengas una agradable experiencia
            con los productos proporcionados.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Desarrolladores de la página</h2>
        <p>Sergio Cabrera 1240319</p>
        <p>Helen Elvira 1132718</p>
    </div>
</div>