@using Labo3.Models;
@model IEnumerable<Medicina>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tu Salud en mis manos 2.0</h1>
    <p class="lead">Optimizando la búsqueda de objetos en la página.</p>
</div>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ingreso Medicamentos</title>

</head>
<body align="center">
    <center>
        <h1>CARGA DE DOCUMENTO CSV</h1>
        <br>
        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.Raw(ViewBag.Error)
            <input type="file" name="ArchivoSubido" />
        <br>
            <input type="submit" name="Importar" />
        }
    </center>
    <center>
        <br>
        <br>
        <form action="/Home/Listamedica/" method="post">
            <div class="form-horizontal">
                <input type="submit" value="Mostrar Lista de Medicinas" class="btn btn-default" />
            </div>
        </form><br />
    </center>

</body>
</html>

